.main {
  background-color: #fefefe;
  display: flex;
  padding-top: 5rem;
  /* min-height: calc(100vh - 10vh); */
}

.main_left h1 {
  color: #3b8035;
  margin-top: 2rem;
  font-size: 3.5rem;
  padding: 1.5rem 0;
  border-bottom: double #555;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}

.main_left p {
  color: rgb(77, 73, 73);
  font-size: 1.5rem;
  width: 95%;
  line-height: 2.5rem;
}

.main_left button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  background: #ffffff;
  padding: 0.7rem;
  border: 2px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  width: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 2rem;
  margin: 0.5rem 0;
}

.main_left button:hover {
  color: #ffffff !important;
  background: #3da828;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

.main_right {
  margin-left: 2rem;
}

/* Main places */

.places {
  /* margin : 5rem 0; */
  background-color: #85ffbd;
  margin: 0;
  min-height: 100vh;
}

.main_places-heading {
  text-align: center;
  color: #2d4920;
  font-size: 3.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding-bottom : 2.5rem;
  font-family: "Libre Baskerville", serif;
}

.places_row{
 
}