.home_icon{
    width : 2.1rem;
    margin-left : 1rem;
    margin-bottom : 0.5rem;
}

.nav_header{
    color : #45752e;
    margin : 0.2rem;
    font-size : 1.5rem;
    font-weight : 600;
    font-family :Arial, Helvetica, sans-serif;
    
}

.nav_link{
    font-size: 1.5rem;
    color : #444444 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin : 0 0.5rem
}