.home_icon{
    width : 2.1rem;
    margin-left : 1rem;
    margin-bottom : 0.5rem;
}

.nav_header{
    color : #45752e;
    margin : 0.2rem;
    font-size : 1.5rem;
    font-weight : 600;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    
}

.nav_link{
    font-size: 1.5rem;
    color : #444444 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin : 0 0.5rem
}


@media only screen and (max-width: 600px) {
    .nav_toggler{
        margin-right  : 0.5rem;
    }
    
    .nav_link{
        font-size: 1.8rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left :  1.2rem
    }

}