.review {
}

.review_header {
  display: flex;
  margin: 1.5rem 2rem;
}

.review_header-main {
  color: #292b28;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 35px;
  
}

.review_header-search {
  outline: none;
  width: 50%;
  margin-left: 1rem;
  border-radius: 1.5rem;
  outline : none;
  border : 1px solid #2a582e;
  padding-left : 0.7rem;
  font-family: 'Lato', sans-serif;  

}





