.review {
}

.review_header {
  display: flex;
  margin: 2rem 2rem;
}

h1 {
  color: #7c795d;

  font-size: 45px;
  line-height: 48px;
  
}

.review_header-search {
  outline: none;
  width: 50%;
  margin-left: 0.5rem;
}
