.travel-reviews-img{
    width : 100%;
     max-height : 90vh; 
    opacity: 1;
    position: relative;
}

.travel-reviews_main{
    position: absolute;
    width : 80%;
    top : 35%;
    text-align: center;
    margin : 0 7rem;
}

.travel-reviews_heading{
    color : rgb(44, 35, 35);
    font-size: 3rem;
    opacity: 0.9;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
}

.travel-reviews_main button{
    color: #020202 !important;
    text-decoration: none;
    font-size: 1.4rem;
    background: transparent;
    padding: 0.7rem;
    border: 3px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    width: 27%;
    font-weight: 700;
    border-radius: 2rem;
    margin: 0.5rem 0;
    font-family: 'Urbanist', sans-serif;

}

.travel-reviews_main button:hover{
    color: #000000 !important;
    background: #cbecea;
    transition: all 0.4s ease 0s;
}

.travel-reviews-img-mb{
    display: none;
}

@media only screen and (max-width: 600px) { 
    .travel-reviews-img{
         
        display : none;
       
    }
    .travel-reviews-img-mb{
        display: block;
        min-width : 100%; 
         min-height : 90vh; 
        opacity: 1; 
        position: relative;

    }

    .travel-reviews_heading{
        text-align: center;
        color : rgb(31, 29, 29);
        font-size: 1.9rem;
        opacity: 1;
        font-weight: 900;   
    }

    .travel-reviews_main{
        position: absolute;
        width : 90%;
        top : 40%;
        left : 0;
        text-align: center;
        margin : 0 1rem;
    }

    .travel-reviews_main button{
        font-size: 1.2rem;
        padding: 0.6rem 0.1rem;
        border: 1px solid #494949 !important;
        width: 75%;
        font-weight: 500;
        border-radius: 2rem;
      
    
    }

}

